@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;700&family=Roboto+Slab:wght@200;300;700&display=swap');

:root {
  --size: 5rem;
  --fg: #0290ff;
  --bg: rgb(211, 211, 211);
  --value: 64;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: grid;
  grid-template-columns: 20% 45% 10%;
  justify-content: space-between;
  box-shadow: 0 2px 3px 0 rgba(89, 88, 88, 0.2);
}

.navbar h1 {
  width: 87.5rem;
  height: 4rem;
  color: #0290ff;
  padding: 1rem 6.188rem 1.688rem 6.25rem;
}

.montserat {
  font-family: 'Montserrat', sans-serif;
}

.nav-links {
  padding-top: 1.4rem;
}

.nav-links a {
  text-decoration: none;
  color: #121212;
  width: 3.688rem;
  height: 1rem;
  margin: 1.125rem 2.563rem 0.688rem 0;
  font-size: 0.813rem;
  letter-spacing: 1.9px;
}

.normal {
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

svg {
  width: 1.063rem;
  height: 1.063rem;
  fill: #0290ff;
  margin: 1.5rem 1.5rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
}

.bookstore {
  background-color: #f5f6fa;
  width: 100rem;
  height: 89.625rem;
  padding: 3.313rem 3.75rem 7.688rem 6.25rem;
}

.book-list {
  display: grid;
  grid-template-columns: 43% 25% 2% 20%;
  width: 80rem;
  row-gap: 10px;
  height: 10.625rem;
  margin: 2.313rem 3.25rem 0;
  padding: 2rem 1.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: #fff;
}

.all-books ul li {
  list-style-type: none;
}

.category {
  width: 3.063rem;
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-size: 0.875rem;
  letter-spacing: normal;
}

.bold {
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.title {
  width: 12.313rem;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-size: 1.375rem;
  letter-spacing: -0.2px;
}

.roboto {
  font-family: 'RobotoSlab', sans-serif;
}

.author {
  width: 6.688rem;
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  letter-spacing: normal;
  color: #4386bf;
}

.mid-bold {
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.comments {
  border: none;
  background-color: transparent;
  color: #4386bf;
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-size: 0.875rem;
  cursor: pointer;
}

.remove {
  border: none;
  background-color: transparent;
  color: #4386bf;
  width: 4.875rem;
  height: 1.188rem;
  margin: 0.188rem 0.738rem 0.125rem 0;
  font-size: 0.875rem;
  border-left: solid 1px #e8e8e8;
  border-right: solid 1px #e8e8e8;
  cursor: pointer;
}

.edit {
  width: 1.188rem;
  height: 1.188rem;
  margin: 0.188rem 18.625rem 0.125rem 1.063rem;
  font-size: 0.875rem;
  color: #4386bf;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

div[role='progressbar'] {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  place-items: center;
  background:
    radial-gradient(closest-side, white 80%, transparent 0 99.9%, white 0),
    conic-gradient(var(--fg) calc(var(--value) * 1%), var(--bg) 0);
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0;
  color: rgb(211, 211, 211);
}

.progress-container {
  display: flex;
}

.complete-reading {
  width: 4.25rem;
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-size: 2rem;
}

.completed {
  width: 5rem;
  height: 1.125rem;
  margin: 0.438rem 3.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-size: 0.875rem;
  color: #121212;
}

.line-2 {
  width: 0.125rem;
  height: 4.375rem;
  border: solid 1px #e8e8e8;
}

.cur-chap {
  width: 8.875rem;
  height: 1.125rem;
  margin: 0.063rem 3.625rem 0 3.688rem;
  opacity: 0.5;
  font-size: 0.813rem;
}

.chapter {
  width: 4.788rem;
  height: 1.413rem;
  margin: 0.438rem 6.813rem 0.25rem 3.688rem;
  font-size: 1rem;
  letter-spacing: -0.4px;
}

.update-btn {
  width: 11.5rem;
  height: 2.063rem;
  margin: 0.75rem 0 0.563rem 3.688rem;
  padding: 0.438rem 1.188rem 0.5rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  font-size: 0.813rem;
  letter-spacing: 0.5px;
  border: none;
  color: #fff;
  cursor: pointer;
}

.form {
  width: 82rem;
  height: 0.125rem;
  margin: 2.5rem 0.063rem 1.813rem 3.345rem;
}

.form hr {
  width: 79.7rem;
  height: 0.125rem;
  margin: 2.5rem 0.063rem 1.813rem 0;
  border: solid 1px #e8e8e8;
}

.form h3 {
  width: 12.875rem;
  height: 1.5rem;
  margin: 1.813rem 32.75rem 1.188rem 0;
  font-size: 1.25rem;
  letter-spacing: -0.18px;
  color: #888;
}

#input-1 {
  width: 41.5rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0 0;
  padding: 0.813rem 35.688rem 0.813rem 1.063rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #c4c4c4;
}

#input-2 {
  width: 17.813rem;
  height: 2.813rem;
  margin: 1.188rem 2.125rem 0;
  padding: 0.375rem 0.938rem 0.563rem 1rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  font-size: 1rem;
  letter-spacing: -0.15px;
  color: #c4c4c4;
}

.form button {
  width: 11.5rem;
  height: 2.813rem;
  margin: 1.188rem 0 0 2.125rem;
  padding: 0.801rem 1.188rem 0.886rem 1.375rem;
  border-radius: 3px;
  background-color: #0290ff;
  border: none;
  font-size: 0.813rem;
  letter-spacing: 0.5px;
  color: #fff;
}
